body {
  background-color: #ffdd7e;
  color: #2b2d2f;
  font-family: "DengXian";
}

a:link {
  color: #2b2d2f;
  text-decoration-style: dashed;
}

a:visited {
  color: #2b2d2f;
}

a:hover {
  background-color: #e95280;
  color: #f3f3f3;
  padding: 3px;
  transition: .2s;
}

hr {
  border-color: #f3f3f3;
  border-style: none;
  border-top-style: solid;
  border-width: 3px;
  height: 0;
  width: 90%;
}

/**********************CLASS SELECTORS************************/
.heading {
  color: black;
  font-family: "DengXian";
}

/**********************ID SELECTORS************************/

/*
#heading {
  color: black;
  font-family: "DengXian";
}
*/
